@font-face {
  font-family: 'Libre Franklin';
  src:
    url('/_fonts/LibreFranklin-Regular.woff2') format('woff2'),
    url('/_fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
